<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--    将该服务注册到注册中心zookeeper-->
    <!--    服务提供者的名称-->
    <dubbo:application name="jd-manager"/>
    <!--  注册到注册中心  -->
    <dubbo:registry protocol="zookeeper" address="zookeeper://192.168.23.128:2181" />
<!--    配置协议，用来暴露服务（配置暴露服务的端口）-->
    <dubbo:protocol name="dubbo"  port="20880" />
<!--    暴露服务-->
    <dubbo:service interface="com.pp.jd.service.ItemService" ref="itemServiceImpl" />
</beans>